

#room {
	/* text-align: center;
	max-height: 100%; */
	/* border: 3px solid rgb(16, 15, 15); */
	
}

#button-leave {
	
	/*position: absolute; */
    /* top: 19px; */
    /* right: 16px; */
    width: 131px;
    /* height: 33px; */
    color: #d11830;
}

 .participant {
	border-radius: 4px;
	border: 2px groove;
	margin-left: 5;
	margin-right: 5;
	width: 150;
	text-align: center;
	overflow: hide;
	float: left;
	padding: 5px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
		rgba(0, 0, 0, 0.3);
	Transition
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
 
/* .participant:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
 */
.participant:hover {
	opacity: 1;
	background-color: 0A33B6;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

/* .participant video, .participant.main video {
	width: 100%; ! important;
	height: auto;! important;
}
 */
/* .participant span {
	color: black;
}
 */
.participant.main {
	width: 20%;
	margin: 0 auto;
}

/* .participant.main video {
	height: auto;
}
 */

/* new css for the chat box */
#msgBox {
    width: 440px;
    overflow-y: scroll;
    height: 390px;
}

.glyphicon.glyphicon-envelope {
	font-size: large;
}



.form-group span {
	position: absolute;
	left: 423px;
    top: 450px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
	font-size: 17px;
}


 .open-button {
	background-color: #337ab7;
	color: white;
	padding: 12px 18px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}
 
/* The popup chat - hidden by default */
.chat-popup {
	position: fixed;
	bottom: 0px;
	right: 15px;
	border: 3px solid #dff0d8;
}

/* Add styles to the form container */
.form-container {
	min-width: 300px;
	padding: 2px;
	background-color: white;
}

* /
	/* Add some hover effects to buttons */               
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}
#tooldiv{
background: #ddd;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 600px;
    width: 380px;	
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}




.msgBodyContaier{
	position:relative;
	background: gainsboro;
    border-radius: 5px;
    padding: 11px;
    width: fit-content;
    
}
